body {
  color: #333;
}

h1 {
  margin: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: dodgerblue;
}

a:hover {
  text-decoration: underline;
}

button {
  padding: 12px 16px;
  background: white;
  border-radius: 32px;
  border: 1px solid lightgrey;
  cursor: pointer;
  font-family: inherit;
  color: inherit;
  font-size: 14px;
  line-height: 14px;
}

button:disabled {
  color: lightgrey;
  cursor: default;
}

.options__container {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 64px;
  border-radius: 16px;
  background: white;
  width: 200px;
  text-align: center;
}

.options__color-input {
  margin: 16px 0;
  background: white;
  border: 0;
  width: 50px;
  height: 50px;
}

.options__credits {
  margin-top: 24px;
}